In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import csv

In [4]:
dfb=pd.read_csv('booking.csv')
dfb.head(10)

,Booking details,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
0,05/01/2021,NaN,00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,05/31/2021,NaN,23:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Booking ID,NaN,Booking from,Booking service,Booking type,Service Type,Operator,Customer phone number,Support ID,Customer name,...,Tip amt($),Promo code,Promo amt($),Tip after ride($),Total amt($),Actual received($),Difference amt($),Requested payment method,Paid by,Payment status
3,7044732,NaN,PKUP,Local booking,Now,One way,NaN,+61488763726,162324,Nicole Sparks,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
4,7043483,NaN,PKUP,Local booking,Reservation,One way,NaN,+61421562266,217568,Chloe Dowell,...,3.82,NaN,0.00,0.00,82.15,82.15,0.00,Personal card,Personal card,Full payment
5,7043390,NaN,PKUP,Local booking,Now,One way,NaN,+61421562266,217568,Chloe Dowell,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
6,7043013,NaN,PKUP,Local booking,Now,One way,NaN,+61423634405,19304,Alan March,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
7,7042401,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
8,7042363,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
9,7037241,NaN,PKUP,Local booking,Now,One way,NaN,+61448085552,216619,Sarah Hegedus,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment

In [5]:
dfb_new=dfb.drop([0,1], axis=0)
dfb_new.head(10)

,Booking details,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57
2,Booking ID,NaN,Booking from,Booking service,Booking type,Service Type,Operator,Customer phone number,Support ID,Customer name,...,Tip amt($),Promo code,Promo amt($),Tip after ride($),Total amt($),Actual received($),Difference amt($),Requested payment method,Paid by,Payment status
3,7044732,NaN,PKUP,Local booking,Now,One way,NaN,+61488763726,162324,Nicole Sparks,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
4,7043483,NaN,PKUP,Local booking,Reservation,One way,NaN,+61421562266,217568,Chloe Dowell,...,3.82,NaN,0.00,0.00,82.15,82.15,0.00,Personal card,Personal card,Full payment
5,7043390,NaN,PKUP,Local booking,Now,One way,NaN,+61421562266,217568,Chloe Dowell,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
6,7043013,NaN,PKUP,Local booking,Now,One way,NaN,+61423634405,19304,Alan March,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
7,7042401,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
8,7042363,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
9,7037241,NaN,PKUP,Local booking,Now,One way,NaN,+61448085552,216619,Sarah Hegedus,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
10,7036627,NaN,PKUP,Local booking,Now,One way,NaN,+61414358720,215119,Nicky Riches,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
11,7036551,NaN,PKUP,Local booking,Now,One way,NaN,+61414358720,215119,Nicky Riches,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment

In [6]:
dfb_new.to_csv("ibooking.csv",header=False, index=False)
dfib=pd.read_csv("ibooking.csv")
dfib.head(10)

,Booking ID,Unnamed: 1,Booking from,Booking service,Booking type,Service Type,Operator,Customer phone number,Support ID,Customer name,...,Tip amt($),Promo code,Promo amt($),Tip after ride($),Total amt($),Actual received($),Difference amt($),Requested payment method,Paid by,Payment status
0,7044732,NaN,PKUP,Local booking,Now,One way,NaN,+61488763726,162324,Nicole Sparks,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
1,7043483,NaN,PKUP,Local booking,Reservation,One way,NaN,+61421562266,217568,Chloe Dowell,...,3.82,NaN,0.00,0.00,82.15,82.15,0.00,Personal card,Personal card,Full payment
2,7043390,NaN,PKUP,Local booking,Now,One way,NaN,+61421562266,217568,Chloe Dowell,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
3,7043013,NaN,PKUP,Local booking,Now,One way,NaN,+61423634405,19304,Alan March,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
4,7042401,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
5,7042363,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
6,7037241,NaN,PKUP,Local booking,Now,One way,NaN,+61448085552,216619,Sarah Hegedus,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
7,7036627,NaN,PKUP,Local booking,Now,One way,NaN,+61414358720,215119,Nicky Riches,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
8,7036551,NaN,PKUP,Local booking,Now,One way,NaN,+61414358720,215119,Nicky Riches,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
9,7036117,NaN,PKUP,Local booking,Now,One way,NaN,+61408302329,216173,Thomas Dawe,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment

In [7]:
dfib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Booking ID                   262 non-null    object
 1   Unnamed: 1                   0 non-null      float64
 2   Booking from                 261 non-null    object
 3   Booking service              261 non-null    object
 4   Booking type                 261 non-null    object
 5   Service Type                 261 non-null    object
 6   Operator                     44 non-null     object
 7   Customer phone number        261 non-null    object
 8   Support ID                   255 non-null    object
 9   Customer name                261 non-null    object
 10  Passenger ID# / IC#          1 non-null      object
 11  Queuing area                 1 non-null      object
 12  Booking time                 261 non-null    object
 13  Pickup time                  260 non-null    object
 14  Unnamed: 14                  1 non-null      object
 15  Dispatch time                100 non-null    object
 16  On board time                97 non-null     object
 17  Drop off time                97 non-null     object
 18  On board duration            100 non-null    object
 19  Dispatch #                   261 non-null    object
 20  Completed Time               261 non-null    object
 21  Driver name                  261 non-null    object
 22  ID#/ National IC#            120 non-null    object
 23  Driver license number        116 non-null    object
 24  Company                      120 non-null    object
 25  Car Type                     261 non-null    object
 26  License plate                120 non-null    object
 27  Pickup location              261 non-null    object
 28  Pickup location lat/long     261 non-null    object
 29  Original destination         261 non-null    object
 30  Actual destination           261 non-null    object
 31  Actual destination lat/long  261 non-null    object
 32  Original est distance(km)    261 non-null    object
 33  P.O.B distance(km)           261 non-null    object
 34  Notes                        22 non-null     object
 35  Instructions                 1 non-null      object
 36  Dynamic surcharge            261 non-null    object
 37  Basic fare calculator($)     262 non-null    object
 38  Basic fare($)                262 non-null    object
 39  Edit basic fare              2 non-null      object
 40  Old basic fare($)            2 non-null      object
 41  Other fees($)                262 non-null    object
 42  Subtotal($)                  262 non-null    object
 43  Subtotal FF($)               262 non-null    object
 44  Airport fee($)               262 non-null    object
 45  Meet driver($)               262 non-null    object
 46  Tech fee($)                  262 non-null    object
 47  Booking fee($)               262 non-null    object
 48  Tip amt($)                   262 non-null    object
 49  Promo code                   17 non-null     object
 50  Promo amt($)                 262 non-null    object
 51  Tip after ride($)            262 non-null    object
 52  Total amt($)                 262 non-null    object
 53  Actual received($)           262 non-null    object
 54  Difference amt($)            262 non-null    object
 55  Requested payment method     261 non-null    object
 56  Paid by                      261 non-null    object
 57  Payment status               261 non-null    object
dtypes: float64(1), object(57)
memory usage: 118.8+ KB

In [8]:
dfib.drop([260,261], axis=0).head()

,Booking ID,Unnamed: 1,Booking from,Booking service,Booking type,Service Type,Operator,Customer phone number,Support ID,Customer name,...,Tip amt($),Promo code,Promo amt($),Tip after ride($),Total amt($),Actual received($),Difference amt($),Requested payment method,Paid by,Payment status
0,7044732,NaN,PKUP,Local booking,Now,One way,NaN,+61488763726,162324,Nicole Sparks,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
1,7043483,NaN,PKUP,Local booking,Reservation,One way,NaN,+61421562266,217568,Chloe Dowell,...,3.82,NaN,0.00,0.00,82.15,82.15,0.00,Personal card,Personal card,Full payment
2,7043390,NaN,PKUP,Local booking,Now,One way,NaN,+61421562266,217568,Chloe Dowell,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment
3,7043013,NaN,PKUP,Local booking,Now,One way,NaN,+61423634405,19304,Alan March,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by timeout,Full payment
4,7042401,NaN,PKUP,Local booking,Now,One way,NaN,+61406496209,217646,Mark Hindle,...,0.00,NaN,0.00,0.00,0.00,0.00,0.00,Personal card,Canceled by passenger,Full payment

In [17]:
dfib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Booking ID                   262 non-null    object
 1   Unnamed: 1                   0 non-null      float64
 2   Booking from                 261 non-null    object
 3   Booking service              261 non-null    object
 4   Booking type                 261 non-null    object
 5   Service Type                 261 non-null    object
 6   Operator                     44 non-null     object
 7   Customer phone number        261 non-null    object
 8   Support ID                   255 non-null    object
 9   Customer name                261 non-null    object
 10  Passenger ID# / IC#          1 non-null      object
 11  Queuing area                 1 non-null      object
 12  Booking time                 261 non-null    object
 13  Pickup time                  260 non-null    object
 14  Unnamed: 14                  1 non-null      object
 15  Dispatch time                100 non-null    object
 16  On board time                97 non-null     object
 17  Drop off time                97 non-null     object
 18  On board duration            100 non-null    object
 19  Dispatch #                   261 non-null    object
 20  Completed Time               261 non-null    object
 21  Driver name                  261 non-null    object
 22  ID#/ National IC#            120 non-null    object
 23  Driver license number        116 non-null    object
 24  Company                      120 non-null    object
 25  Car Type                     261 non-null    object
 26  License plate                120 non-null    object
 27  Pickup location              261 non-null    object
 28  Pickup location lat/long     261 non-null    object
 29  Original destination         261 non-null    object
 30  Actual destination           261 non-null    object
 31  Actual destination lat/long  261 non-null    object
 32  Original est distance(km)    261 non-null    object
 33  P.O.B distance(km)           261 non-null    object
 34  Notes                        22 non-null     object
 35  Instructions                 1 non-null      object
 36  Dynamic surcharge            261 non-null    object
 37  Basic fare calculator($)     262 non-null    object
 38  Basic fare($)                262 non-null    object
 39  Edit basic fare              2 non-null      object
 40  Old basic fare($)            2 non-null      object
 41  Other fees($)                262 non-null    object
 42  Subtotal($)                  262 non-null    object
 43  Subtotal FF($)               262 non-null    object
 44  Airport fee($)               262 non-null    object
 45  Meet driver($)               262 non-null    object
 46  Tech fee($)                  262 non-null    object
 47  Booking fee($)               262 non-null    object
 48  Tip amt($)                   262 non-null    object
 49  Promo code                   17 non-null     object
 50  Promo amt($)                 262 non-null    object
 51  Tip after ride($)            262 non-null    object
 52  Total amt($)                 262 non-null    object
 53  Actual received($)           262 non-null    object
 54  Difference amt($)            262 non-null    object
 55  Requested payment method     261 non-null    object
 56  Paid by                      261 non-null    object
 57  Payment status               261 non-null    object
dtypes: float64(1), object(57)
memory usage: 118.8+ KB

In [9]:
dfib.isnull().sum()

Booking ID                       0
Unnamed: 1                     262
Booking from                     1
Booking service                  1
Booking type                     1
Service Type                     1
Operator                       218
Customer phone number            1
Support ID                       7
Customer name                    1
Passenger ID# / IC#            261
Queuing area                   261
Booking time                     1
Pickup time                      2
Unnamed: 14                    261
Dispatch time                  162
On board time                  165
Drop off time                  165
On board duration              162
Dispatch #                       1
Completed Time                   1
Driver name                      1
ID#/ National IC#              142
Driver license number          146
Company                        142
Car Type                         1
License plate                  142
Pickup location                  1
Pickup location lat/long         1
Original destination             1
Actual destination               1
Actual destination lat/long      1
Original est distance(km)        1
P.O.B distance(km)               1
Notes                          240
Instructions                   261
Dynamic surcharge                1
Basic fare calculator($)         0
Basic fare($)                    0
Edit basic fare                260
Old basic fare($)              260
Other fees($)                    0
Subtotal($)                      0
Subtotal FF($)                   0
Airport fee($)                   0
Meet driver($)                   0
Tech fee($)                      0
Booking fee($)                   0
Tip amt($)                       0
Promo code                     245
Promo amt($)                     0
Tip after ride($)                0
Total amt($)                     0
Actual received($)               0
Difference amt($)                0
Requested payment method         1
Paid by                          1
Payment status                   1
dtype: int64

In [10]:
dfib.drop('Passenger ID# / IC#',inplace=True, axis=1)

In [11]:
dfib.rename(columns={"customer_ID":"Support ID"}, inplace=True)

In [12]:
dfib.columns

Index(['Booking ID', 'Unnamed: 1', 'Booking from', 'Booking service',
       'Booking type', 'Service Type', 'Operator', 'Customer phone number',
       'Support ID', 'Customer name', 'Queuing area', 'Booking time',
       'Pickup time', 'Unnamed: 14', 'Dispatch time', 'On board time',
       'Drop off time', 'On board duration', 'Dispatch #', 'Completed Time',
       'Driver name', 'ID#/ National IC#', 'Driver license number', 'Company',
       'Car Type', 'License plate', 'Pickup location',
       'Pickup location lat/long', 'Original destination',
       'Actual destination', 'Actual destination lat/long',
       'Original est distance(km)', 'P.O.B distance(km)', 'Notes',
       'Instructions', 'Dynamic surcharge', 'Basic fare calculator($)',
       'Basic fare($)', 'Edit basic fare', 'Old basic fare($)',
       'Other fees($)', 'Subtotal($)', 'Subtotal FF($)', 'Airport fee($)',
       'Meet driver($)', 'Tech fee($)', 'Booking fee($)', 'Tip amt($)',
       'Promo code', 'Promo amt($)', 'Tip after ride($)', 'Total amt($)',
       'Actual received($)', 'Difference amt($)', 'Requested payment method',
       'Paid by', 'Payment status'],
      dtype='object')

In [13]:
csv_file=open("ibooking.csv", "r")
csv_read=csv.DictReader(csv_file)
line=0
ids= []
dups= []
for row in csv_read:
    if line > 0:
            new= row['Support ID']
            if new not in ids:
                ids.append(new)
            else:
                dups.append(new)   
    line +=1
csv_file.close()

In [14]:
print(dups)

['217568', '217646', '215119', '216173', '216191', '59066', '216191', '31428', '206481', '206481', '192999', '150851', '150851', '33630', '7761', '15749', '15749', '207698', '20344', '27548', '27548', '27548', '27100', '6167', '6167', '6167', '34920', '164638', '205787', '205787', '193773', '10511', '10511', '10511', '205512', '205512', '175620', '30852', '', '204782', '6916', '6916', '204386', '27100', '203881', '203881', '31323', '203512', '202592', '202592', '5875', '196829', '9217', '34920', '23560', '197821', '34920', '15749', '202484', '201824', '201798', '192906', '192906', '180044', '180044', '180044', '201551', '195364', '199874', '', '', '197147', '201251', '', '181823', '187797', '200737', '200737', '30964', '30964', '187830', '193773', '', '199874', '199862', '187868', '198556', '198556', '170219', '31428', '33195', '33195', '33195', '9944', '5156', '5156', '23871', '197370', '23871', '']

In [31]:
dfib[['Booking ID','Support ID', 'Booking time','On board duration','Completed Time', 'P.O.B distance(km)', 
      'Subtotal FF($)','Promo amt($)','Airport fee($)','Meet driver($)','Tech fee($)','Booking fee($)',
      'Tip amt($)','Total amt($)','Actual received($)','Paid by','Pickup location lat/long','Actual destination lat/long']].to_csv('ibooking_new.csv',index=False)

In [32]:
dfib_new=pd.read_csv('ibooking_new.csv')
dfib_new.head(10)

,Booking ID,Support ID,Booking time,On board duration,Completed Time,P.O.B distance(km),Subtotal FF($),Promo amt($),Airport fee($),Meet driver($),Tech fee($),Booking fee($),Tip amt($),Total amt($),Actual received($),Paid by,Pickup location lat/long,Actual destination lat/long
0,7044732,162324,05/31/2021 10:52 PM,NaN,05/31/2021 11:07 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.220532145327226, 149.07818982079132","-35.3441316, 149.0868669"
1,7043483,217568,05/31/2021 08:23 PM,22 min(s),05/31/2021 09:26 PM,17.35,76.33,0.00,0.00,0.00,2.00,0.00,3.82,82.15,82.15,Personal card,"-35.34643558953422, 149.24807768315077","-35.4244069, 149.1148269"
2,7043390,217568,05/31/2021 08:10 PM,NaN,05/31/2021 08:22 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.3464312, 149.2481617","-35.4244069, 149.1148269"
3,7043013,19304,05/31/2021 07:24 PM,NaN,05/31/2021 07:39 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.2340673, 149.0597565","-35.2183665, 149.057927"
4,7042401,217646,05/31/2021 05:28 PM,NaN,05/31/2021 05:30 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.2432823, 149.0557621","-35.1557942, 149.1032343"
5,7042363,217646,05/31/2021 05:20 PM,NaN,05/31/2021 05:27 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.2431239, 149.0558147","-35.1557942, 149.1032343"
6,7037241,216619,05/31/2021 01:18 AM,NaN,05/31/2021 01:33 AM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.275163, 149.1322018","-35.43896780000001, 149.0954537"
7,7036627,215119,05/30/2021 11:43 PM,NaN,05/30/2021 11:50 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.3101958, 149.0274085","-35.1942695, 149.0661461"
8,7036551,215119,05/30/2021 11:33 PM,NaN,05/30/2021 11:42 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.3102017, 149.0277422","-35.1939967, 149.0659963"
9,7036117,216173,05/30/2021 10:36 PM,NaN,05/30/2021 10:51 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.1698794, 149.0984796","-35.3125845, 149.1463969"

In [33]:
dfib_new.isnull().sum()

Booking ID                       0
Support ID                       7
Booking time                     1
On board duration              162
Completed Time                   1
P.O.B distance(km)               1
Subtotal FF($)                   0
Promo amt($)                     0
Airport fee($)                   0
Meet driver($)                   0
Tech fee($)                      0
Booking fee($)                   0
Tip amt($)                       0
Total amt($)                     0
Actual received($)               0
Paid by                          1
Pickup location lat/long         1
Actual destination lat/long      1
dtype: int64

In [39]:
dfib_new.rename(columns={'Support ID':'customer_id'},inplace=True)

In [40]:
dfib_new.rename(columns={'Paid by':'transaction_status'},inplace=True)

In [41]:
dfib_new.rename(columns={'Actual received($)':'Actual'},inplace=True)

In [42]:
dfib_new.rename(columns={'On board duration':'onboard'},inplace=True)

In [43]:
dfib_new.head()

,Booking ID,customer_id,Booking time,onboard,Completed Time,P.O.B distance(km),Subtotal FF($),Promo amt($),Airport fee($),Meet driver($),Tech fee($),Booking fee($),Tip amt($),Total amt($),Actual,transaction_status,Pickup location lat/long,Actual destination lat/long
0,7044732,162324,05/31/2021 10:52 PM,NaN,05/31/2021 11:07 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.220532145327226, 149.07818982079132","-35.3441316, 149.0868669"
1,7043483,217568,05/31/2021 08:23 PM,22 min(s),05/31/2021 09:26 PM,17.35,76.33,0.00,0.00,0.00,2.00,0.00,3.82,82.15,82.15,Personal card,"-35.34643558953422, 149.24807768315077","-35.4244069, 149.1148269"
2,7043390,217568,05/31/2021 08:10 PM,NaN,05/31/2021 08:22 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.3464312, 149.2481617","-35.4244069, 149.1148269"
3,7043013,19304,05/31/2021 07:24 PM,NaN,05/31/2021 07:39 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by timeout,"-35.2340673, 149.0597565","-35.2183665, 149.057927"
4,7042401,217646,05/31/2021 05:28 PM,NaN,05/31/2021 05:30 PM,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Canceled by passenger,"-35.2432823, 149.0557621","-35.1557942, 149.1032343"

In [44]:
np.unique(['transaction_status'])

array(['transaction_status'], dtype='<U18')

In [46]:
df = dfib_new[dfib_new['onboard'].notna()]
df.shape

(100, 18)

In [47]:
df.head(20)

,Booking ID,customer_id,Booking time,onboard,Completed Time,P.O.B distance(km),Subtotal FF($),Promo amt($),Airport fee($),Meet driver($),Tech fee($),Booking fee($),Tip amt($),Total amt($),Actual,transaction_status,Pickup location lat/long,Actual destination lat/long
1,7043483,217568,05/31/2021 08:23 PM,22 min(s),05/31/2021 09:26 PM,17.35,76.33,0.00,0.00,0.00,2.00,0.00,3.82,82.15,82.15,Personal card,"-35.34643558953422, 149.24807768315077","-35.4244069, 149.1148269"
17,7019531,209563,05/28/2021 03:42 PM,13 min(s),05/30/2021 01:38 AM,10.47,41.87,15.00,0.00,0.00,2.00,0.00,0.00,28.87,28.87,Personal card,"-28.1368301, 153.3998969","-28.0860352, 153.3935154"
18,7026443,212398,05/29/2021 05:27 PM,37 min(s),05/30/2021 01:08 AM,33.41,106.98,0.00,0.00,0.00,2.00,0.00,0.00,108.98,108.98,Personal card,"-27.9397766, 153.3676497","-28.1422594, 153.4626538"
19,7019883,209745,05/28/2021 06:17 PM,27 min(s),05/29/2021 11:41 PM,23.95,103.51,15.00,0.00,0.00,2.00,0.00,0.00,90.51,90.51,Personal card,"-35.3420801, 149.0868309","-35.1979926, 149.0364016"
20,7027851,213749,05/29/2021 10:14 PM,27 min(s),05/29/2021 11:17 PM,18.63,71.86,0.00,0.00,0.00,2.00,0.00,0.00,73.86,73.86,Personal card,"-35.277562862846075, 149.13189359523795","-35.3624863, 149.2313994"
22,7014242,204777,05/27/2021 11:41 AM,40 min(s),05/29/2021 10:42 PM,25.47,109.23,15.00,0.00,0.00,2.00,0.00,0.00,96.23,96.23,Personal card,"-35.2990043, 149.1170957","-35.4702808, 149.0897013"
24,7027398,33195,05/29/2021 08:54 PM,10 min(s),05/29/2021 09:25 PM,5.06,27.25,0.00,0.00,0.00,2.00,0.00,0.00,29.25,29.25,Personal card,"-35.22364, 149.0259715","-35.2163666, 149.04753"
25,7026710,27100,05/29/2021 06:27 PM,19 min(s),05/29/2021 07:15 PM,12.43,59.04,0.00,0.00,0.00,2.00,0.00,0.00,61.04,61.04,Personal card,"-35.27449693079138, 149.1321698484819","-35.2088015, 149.0772942"
37,7020710,197147,05/28/2021 09:51 PM,39 min(s),05/28/2021 10:50 PM,42.95,160.97,0.00,0.00,0.00,2.00,0.00,0.00,162.97,162.97,Personal card,"-35.3328455879465, 149.15400622672323","-35.2265859, 149.394697"
38,7020502,33630,05/28/2021 09:14 PM,18 min(s),05/28/2021 09:43 PM,11.03,52.40,0.00,0.00,0.00,2.00,0.00,0.00,54.40,54.40,Personal card,"-35.264251708984375, 149.12228386301936","-35.2000136, 149.1091017"
39,7019879,5156,05/28/2021 06:16 PM,18 min(s),05/28/2021 08:53 PM,12.35,62.49,0.00,0.00,0.00,2.00,0.00,0.00,64.49,64.49,Personal card,"-35.27897497036283, 149.12659406661987","-35.3477756, 149.1114276"
40,7020046,7761,05/28/2021 07:15 PM,24 min(s),05/28/2021 08:11 PM,7.55,42.15,0.00,0.00,0.00,2.00,0.00,0.00,44.15,44.15,Personal card,"-35.2339249922165, 149.05979382666573","-35.192608, 149.019762"
45,7019465,15749,05/28/2021 03:12 PM,36 min(s),05/28/2021 04:35 PM,23.26,89.92,0.00,0.00,0.00,2.00,0.00,0.00,91.92,91.92,Personal card,"-35.261357479621836, 149.13865650335404","-35.3749304, 149.2282346"
46,7016135,207698,05/27/2021 10:33 PM,30 min(s),05/27/2021 11:20 PM,14.78,74.93,0.00,0.00,0.00,2.00,0.00,0.00,76.93,76.93,Personal card,"-35.32550048828125, 149.14231871999993","-35.3597926, 149.0337223"
48,7015867,27548,05/27/2021 09:34 PM,32 min(s),05/27/2021 10:34 PM,36.63,51.29,0.00,0.00,0.00,2.00,0.00,0.00,53.29,53.29,Personal card,"-35.34652723100627, 149.0872939817017","-35.32686169999999, 149.1784348"
52,7015666,23560,05/27/2021 08:47 PM,15 min(s),05/27/2021 09:33 PM,8.99,44.67,0.00,0.00,0.00,2.00,0.00,0.00,46.67,46.67,Personal card,"-35.19299391426955, 149.08644558621236","-35.1990679, 149.1577509"
58,7008965,6167,05/25/2021 09:04 PM,20 min(s),05/25/2021 09:47 PM,18.47,78.57,0.00,0.00,0.00,2.00,0.00,0.00,80.57,80.57,Personal card,"-35.27491980000001, 149.1308193","-35.1509346, 149.0439184"
64,7005267,164638,05/24/2021 09:07 AM,21 min(s),05/24/2021 10:12 AM,11.31,56.19,0.00,0.00,0.00,2.00,0.00,0.00,58.19,58.19,Personal card,"-35.3209807, 149.1646271","-35.35441970000001, 149.0867811"
81,7000229,188551,05/22/2021 09:58 PM,0 min,05/23/2021 12:18 AM,54.17,175.32,0.00,0.00,0.00,2.00,0.00,0.00,177.32,177.32,Personal card,"-28.11909355852258, 153.47164400559646","-27.9503712, 153.161872"
83,6982011,NaN,05/16/2021 07:08 PM,27 min(s),05/22/2021 11:33 PM,15.01,72.68,0.00,0.00,0.00,2.00,0.00,0.00,74.68,74.68,Direct invoicing,"-35.2078968, 149.0282993","-35.274151, 149.130203"

In [36]:
df.to_csv('newbook.csv')

In [37]:
df1=pd.read_csv('newbook.csv')

In [38]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          100 non-null    int64
 1   Booking ID          100 non-null    object
 2   customer_id         97 non-null     object
 3   Booking time        100 non-null    object
 4   onboard             100 non-null    object
 5   Completed Time      100 non-null    object
 6   P.O.B distance(km)  100 non-null    object
 7   Subtotal FF($)      100 non-null    object
 8   Promo amt($)        100 non-null    object
 9   Airport fee($)      100 non-null    object
 10  Meet driver($)      100 non-null    object
 11  Tech fee($)         100 non-null    object
 12  Booking fee($)      100 non-null    object
 13  Tip amt($)          100 non-null    object
 14  Total amt($)        100 non-null    object
 15  Actual              100 non-null    object
 16  transaction_status  100 non-null    object
dtypes: int64(1), object(16)
memory usage: 13.4+ KB

In [42]:
df1.rename(columns={'Completed Time':"transaction_date"}, inplace=True)

In [59]:
df1.head(30)

,Unnamed: 0,Booking ID,customer_id,Booking time,onboard,transaction_date,P.O.B distance(km),Subtotal FF($),Promo amt($),Airport fee($),Meet driver($),Tech fee($),Booking fee($),Tip amt($),Total amt($),Actual,transaction_status
0,1,7043483,217568,05/31/2021 08:23 PM,22 min(s),05/31/2021,17.35,76.33,0.00,0.00,0.00,2.00,0.00,3.82,82.15,82.15,Personal card
1,17,7019531,209563,05/28/2021 03:42 PM,13 min(s),05/30/2021,10.47,41.87,15.00,0.00,0.00,2.00,0.00,0.00,28.87,28.87,Personal card
2,18,7026443,212398,05/29/2021 05:27 PM,37 min(s),05/30/2021,33.41,106.98,0.00,0.00,0.00,2.00,0.00,0.00,108.98,108.98,Personal card
3,19,7019883,209745,05/28/2021 06:17 PM,27 min(s),05/29/2021,23.95,103.51,15.00,0.00,0.00,2.00,0.00,0.00,90.51,90.51,Personal card
4,20,7027851,213749,05/29/2021 10:14 PM,27 min(s),05/29/2021,18.63,71.86,0.00,0.00,0.00,2.00,0.00,0.00,73.86,73.86,Personal card
5,22,7014242,204777,05/27/2021 11:41 AM,40 min(s),05/29/2021,25.47,109.23,15.00,0.00,0.00,2.00,0.00,0.00,96.23,96.23,Personal card
6,24,7027398,33195,05/29/2021 08:54 PM,10 min(s),05/29/2021,5.06,27.25,0.00,0.00,0.00,2.00,0.00,0.00,29.25,29.25,Personal card
7,25,7026710,27100,05/29/2021 06:27 PM,19 min(s),05/29/2021,12.43,59.04,0.00,0.00,0.00,2.00,0.00,0.00,61.04,61.04,Personal card
8,37,7020710,197147,05/28/2021 09:51 PM,39 min(s),05/28/2021,42.95,160.97,0.00,0.00,0.00,2.00,0.00,0.00,162.97,162.97,Personal card
9,38,7020502,33630,05/28/2021 09:14 PM,18 min(s),05/28/2021,11.03,52.40,0.00,0.00,0.00,2.00,0.00,0.00,54.40,54.40,Personal card
10,39,7019879,5156,05/28/2021 06:16 PM,18 min(s),05/28/2021,12.35,62.49,0.00,0.00,0.00,2.00,0.00,0.00,64.49,64.49,Personal card
11,40,7020046,7761,05/28/2021 07:15 PM,24 min(s),05/28/2021,7.55,42.15,0.00,0.00,0.00,2.00,0.00,0.00,44.15,44.15,Personal card
12,45,7019465,15749,05/28/2021 03:12 PM,36 min(s),05/28/2021,23.26,89.92,0.00,0.00,0.00,2.00,0.00,0.00,91.92,91.92,Personal card
13,46,7016135,207698,05/27/2021 10:33 PM,30 min(s),05/27/2021,14.78,74.93,0.00,0.00,0.00,2.00,0.00,0.00,76.93,76.93,Personal card
14,48,7015867,27548,05/27/2021 09:34 PM,32 min(s),05/27/2021,36.63,51.29,0.00,0.00,0.00,2.00,0.00,0.00,53.29,53.29,Personal card
15,52,7015666,23560,05/27/2021 08:47 PM,15 min(s),05/27/2021,8.99,44.67,0.00,0.00,0.00,2.00,0.00,0.00,46.67,46.67,Personal card
16,58,7008965,6167,05/25/2021 09:04 PM,20 min(s),05/25/2021,18.47,78.57,0.00,0.00,0.00,2.00,0.00,0.00,80.57,80.57,Personal card
17,64,7005267,164638,05/24/2021 09:07 AM,21 min(s),05/24/2021,11.31,56.19,0.00,0.00,0.00,2.00,0.00,0.00,58.19,58.19,Personal card
18,81,7000229,188551,05/22/2021 09:58 PM,0 min,05/23/2021,54.17,175.32,0.00,0.00,0.00,2.00,0.00,0.00,177.32,177.32,Personal card
19,83,6982011,NaN,05/16/2021 07:08 PM,27 min(s),05/22/2021,15.01,72.68,0.00,0.00,0.00,2.00,0.00,0.00,74.68,74.68,Direct invoicing
20,87,7000226,199066,05/22/2021 09:55 PM,22 min(s),05/22/2021,11.69,54.01,0.00,0.00,0.00,2.00,0.00,0.00,56.01,56.01,Personal card
21,89,6999386,187797,05/22/2021 02:33 PM,18 min(s),05/22/2021,18.29,52.13,15.00,0.00,0.00,2.00,0.00,0.00,39.13,39.13,Cash
22,90,7000003,31905,05/22/2021 08:12 PM,19 min(s),05/22/2021,15.37,69.23,0.00,0.00,0.00,2.00,0.00,0.00,71.23,71.23,Personal card
23,91,6999811,205409,05/22/2021 06:27 PM,13 min(s),05/22/2021,7.28,35.60,0.00,0.00,0.00,2.00,0.00,0.00,37.60,37.60,Personal card
24,92,6999700,205357,05/22/2021 05:26 PM,15 min(s),05/22/2021,2.28,24.95,0.00,0.00,0.00,2.00,0.00,0.00,26.95,26.95,Personal card
25,97,6995296,204946,05/21/2021 09:03 AM,28 min(s),05/21/2021,21.98,97.58,15.00,0.00,0.00,2.00,0.00,0.00,84.58,84.58,Personal card
26,98,6996200,202484,05/21/2021 06:54 PM,17 min(s),05/21/2021,8.06,42.72,0.00,0.00,0.00,2.00,0.00,0.00,44.72,44.72,Personal card
27,102,6993305,165674,05/20/2021 10:15 PM,2 min(s),05/20/2021,2.79,24.95,0.00,0.00,0.00,2.00,0.00,0.00,26.95,26.95,Personal card
28,112,6989613,200737,05/19/2021 04:41 PM,27 min(s),05/19/2021,20.51,61.44,0.00,0.00,0.00,2.00,0.00,0.00,63.44,63.44,Personal card
29,115,6979991,203512,05/16/2021 02:43 AM,0 min,05/18/2021,4.62,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Incident